body {
    display: block;
    margin: 10px auto;

}
header {
    display: block;

}

#selfie1 img {
    display: block;
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-radius: 10px;